
* {
    outline: none !important;
    box-sizing: border-box;
    font-family: "helvetica neue", Helvetica, Arial, sans-serif;
}
header {
    width: 100%;
    height: 120px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.938);
    top: 0;
    position: sticky;
}
.soc {
    text-align: right;
    text-decoration: none;
    padding: 15px 15px 0;
    font-size: 10px;
    font-style: italic;
}
footer {
    background-color: rgba(245, 244, 237, 0.856);
    text-align: center;
    color: rgb(126, 120, 106);
    padding: 15px;
    font-size: 12px;
    font-weight: 300;
    
}
a:hover {
    text-decoration: none;
    color: rgb(216, 105, 65);
}
a {
    color: rgb(126, 120, 106);
}

h4 {
    text-align: left;
    padding-top: 25px;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 5px;
    padding-left: 36px;
    z-index: 1;
}
.nav-item {
    padding: 0;
    width: 100%;

}
.nav-link {
    color: rgb(126, 120, 106);
    font-weight: 400;    
    font-size: 14px;
    font-style: italic;
}
.nav-link:hover {
    font-style: normal;
}
.nav-link1 {
    padding-left: 20px;
}
.nav-link2 {
    padding-left: 10px;
}
.nav-link:hover, .soc:hover {
    color: rgb(216, 105, 65) !important;

}
.dropdown {
    padding-top: 5px;
}
.dropdown-menu {
    border: none;
    border-radius: 0;
    background-color:  rgba(255, 255, 255, 0.938);
    padding: 0 15px 10px;
    margin: 0;
    min-width: 130px;
    text-align: left;
}
.nav-item1 {
    display: flex;
}
.navbar {
    padding: 0;
    width: 150px !important;
    z-index: 1;
}
.nav  {
    display: block; 
    width: 0;
}
.navbar-toggler {
    background-color: transparent;
    border-radius: 0%;
    padding:0;
    border: none;
    padding-bottom: 10px;
}
.navbar-brand {
    margin-right: 0;
}
.menu {
    font-size: 17px;
    padding-left: 35px;
    padding-top: 5px;
    color: rgb(126, 120, 106);
}
.menu:hover {
    color: rgb(218, 142, 115);
}
li {
    padding: 0;
    cursor: pointer;
}
button {
    padding: 0;
}

@media screen and (max-width: 700px) {
    .info {
        padding: 15px;
        top: 50px;
        width: 90%;
    }
    h4 {
        padding-left: 15px;
        font-size: 28px;
        letter-spacing: 4px;

    }
    .navbar {
        text-align: left;
        font-size: 10px;
        z-index: 1;
        background-color: white;
         padding-bottom: 0;
        }
    .nav{
      justify-content: center;
    }
    .navbar-brand
    .container-nav {
        width: 100%;
        margin: auto;
        text-align: left;
    }
    .menu {
        font-size: 15px;
        padding-left: 13px;
        text-align: left;
    }
    .soc {
        font-size: 15px;
        padding: 15px;
    } 
}