body {
    background-color: #ffffff;
    color: rgb(126, 120, 106);
}
.container-travel {
    margin: auto;
    text-align: center;
    padding-bottom: 40px;
}
.mobile {
    display: none;
}
.travel {
    font-size: 12px;
    padding-bottom: 0;
}
p {
    margin: 0;
}
.blog-travel {
    padding-top: 40px;
    margin: auto;
}
.img-fluid {
    padding: 5px 0;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    border-radius: 0px;
    padding: 20px;
    -webkit-overflow-scrolling: touch;
    margin: auto;
    width: 100%;
    }
    .card {
    position: initial;
    display: inline-block;
    background: transparent;
    border: none;
    border-radius: 0px;
    padding: 10px;
}

@media screen and (max-width: 900px) {
    .mobile {
        display: block;
    }
    .blog-travel {
        display: none;
    }
}
@media screen and (max-width: 900px) {

}
